---
import { type GitHubRepo } from '../libs/github'

import Card from './Card.astro'
import CardRow from './CardRow.astro'
import Languages from './Languages.astro'
import Stars from './Stars.astro'

export interface Props {
  repo: GitHubRepo
}

const { repo } = Astro.props
---

<Card as="article" href={repo.url} target="_blank" title={`Open ${repo.name} GitHub repository`}>
  <CardRow>
    <h3>{repo.name}</h3>
  </CardRow>
  <CardRow small grow>{repo.description}</CardRow>
  <CardRow small raw>
    <Languages languages={repo.languages} />
    {repo.stars > 0 ? <Stars count={repo.stars} /> : null}
  </CardRow>
</Card>
