---
import archivoFont from '@fontsource-variable/archivo/files/archivo-latin-wght-normal.woff2'

const author = 'HiDeoo'
const description = "HiDeoo's Open Source Portfolio"
const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
const ogImageUrl = new URL('/images/og.png', Astro.site)
const title = author
---

<meta charset="utf-8" />

<title>{title}</title>

<link rel="canonical" href={canonicalUrl} />
<link rel="icon" href="/images/favicon.ico" sizes="any" />
<link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />
<link rel="preload" as="font" crossorigin="anonymous" href={archivoFont} type="font/woff2" />
<link rel="sitemap" href="/sitemap-index.xml" />

<meta name="author" content={author} />
<meta name="color-scheme" content="dark light" />
<meta name="description" property="og:description" content={description} />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="hsl(240 10% 4%)" />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="hsl(0 0% 98%)" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:image" content={ogImageUrl} />
<meta property="og:image:alt" content={description} />
<meta property="og:locale" content="en_US" />
<meta property="og:title" content={title} />
<meta property="og:type" content="profile" />
<meta property="og:url" content={canonicalUrl} />

<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImageUrl} />
<meta name="twitter:image:alt" content={description} />
<meta name="twitter:title" content={title} />

{
  /**
   * Inlined to avoid a FOUC.
   *
   * - We do not care if localStorage is not available when saving a theme preference.
   * - When applying the theme during the first evaluation, the toggle theme button is not yet rendered so we cannot
   *  update its aria-label. We have to wait for the window `load` event to do so.
   */
}
<script is:inline>
  const themes = { dark: 'dark', light: 'light' }
  const localStorageThemeKey = 'theme'
  let theme = getTheme()

  function getTheme() {
    try {
      const persistedTheme = localStorage.getItem(localStorageThemeKey)
      const preferDarkTheme = window.matchMedia('(prefers-color-scheme: dark)')

      if (persistedTheme === themes.dark || (!persistedTheme && preferDarkTheme.matches)) {
        return themes.dark
      }

      return themes.light
    } catch {
      return themes.light
    }
  }

  function applyTheme() {
    if (theme === themes.dark) {
      document.documentElement.classList.add(themes.dark)
    } else {
      document.documentElement.classList.remove(themes.dark)
    }

    document.querySelector('#theme-toggle')?.setAttribute('aria-label', `${theme} theme`)
  }

  function updateTheme(newThemeName) {
    theme = newThemeName

    applyTheme()

    try {
      localStorage.setItem(localStorageThemeKey, newThemeName)
    } catch {
      //
    }
  }

  applyTheme()

  window.addEventListener('load', () => {
    applyTheme()
  })

  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (event) => {
    theme = event.matches ? themes.dark : themes.light

    applyTheme()
  })
</script>
